node_modules/
data/prefixes/
data/prefixes_*/
data/prefixes_test*/
data/*test*/
data/*test2*/
data/courts.json
data/*.ndjson
data/resolved-*.json
data/addr-map-*.json
data/mun-map-*.json
data/houses-map-*.json
data/street-houses-map-*.json
data/courts_test.json
data/courts_party_test.json
data/merge/
keys/
ref/
data/resolved-all.json
